#team {
    display: inline-block;
}

#team img {
    width: 25%;
    max-width: 25%;
    min-width: none;
}

#products-table, #team{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

#products-table, #team a {
    color: black;
    text-decoration: none;
}

.box {
    display: flex;
    flex-direction: column;
    text-align: left;
    border: 5px solid;
    border-color: #ccc;
    padding: 5%;
}

.box img {
    display: block;
    align-self: center;
    justify-self: center;
    width: 70%;
    min-width: 125px;
    height: auto;
}



